.kairos {
    max-height: 65px;
}

.k-test {
    margin-bottom: 30px;
}

.navbar-right .user { margin-left: 10px; }

@media (max-width: 767px) {
    .navbar-brand { padding: 7px 15px; }

    .kairos {
        position: static;
        max-height: 35px;
        max-width: initial;
    }

    header .intro-text .intro-heading {
        font-size: 24px;
        line-height: 1.25;
    }

    section h2.section-heading {
        font-size: 28px;
    }

    section {
        padding-top: 50px;
    }
}

@media (min-width: 768px) {
    header .intro-text {
        padding-top: 200px;
        padding-bottom: 100px;
    }

    header .intro-text .intro-heading {
        font-size: 65px;
        line-height: 1;
    }

    .navbar-brand { height: auto; }
    .navbar-right { margin-right: 0; }
    .navbar-collapse { padding-top: 21px; }
    .navbar-collapse ul { 
        display: flex; 
        align-items: center;
    }
    .navbar > .container .navbar-brand {
        padding-left: 0;
    }
}


