<template name="about">
	<div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <h3 class="section-subheading text-muted">Kairós Digital Solutions</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Julio 2014</h4>
                                <h4 class="subheading">El comienzo</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Kairós Digital Solution nace como una compañía innovadora especializada en asesoramiento y consultoría de Transformación Digital, productos digitales así como iniciativas de Big Data.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Principios de 2015</h4>
                                <h4 class="subheading">Primeros Jedis</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Comenzamos a expandirnos por clientes para ser la referencia en proyectos de gestión de cambio y construcción de productos y soluciones en el nuevo entorno competitivo digital.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Mediados de 2015</h4>
                                <h4 class="subheading">El equipo crece</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Nuestra obsesión por la excelencia, por el aprendizaje continuo y por el cliente nos permite duplicar la plantilla e incorporar grandes profesionales a proyectos innovadores.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Finales de 2015</h4>
                                <h4 class="subheading">Fase de mayor expansion</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">El buen trabajo de nuestros Jedis en las distintas áreas de la compañia queda presente al incrementarse la demanda de profesionales de nuestras características, ampliando presencia en proyectos en curso, incorporandonos en proyectos nuevos y cerrando acuerdos con nuevos clientes.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                          <img class="img-circle img-responsive" src="img/logos/kairos-icon.svg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>¡Sé parte de nuestra historia!</h4>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>